
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #00203fff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
img{
    height: 300px;
    width: 600px;
}
h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color:#00203fff;
}

footer {
    background-color:#00203fff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

blockquote {
    margin: 20px 0;
    border-left: 5px solid#00203fff;
    padding-left: 10px;
}

blockquote p {
    font-style: italic;
}


blockquote footer {
    margin-top: 10px;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}
